body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  padding: 0px;
  margin: 0px;
}

.container {
  position: relative;
}

#img1 {
  width: 95%;
  padding-left: 2.5%;
  z-index: 10;
}

#img2 {
  position: absolute;
  border-style: 2px solid #00275d;
  border-radius: 10px;
  width: 250px;
  top: 25%;
  left: 40%;
  z-index: 20;
}

header {
  outline: none;
  text-align: center;
  width: 100%;
}

/* footer */
.footer {
  background: rgba(175, 175, 175, 0.5);
  color: #00275d;
  display: table-row;
  padding: 10px 20px 0px 20px;
}

.footer .quick-links {
  display: table-cell;
  padding: 5px 5% 5px 5%;
  margin: 10%;
  width: 50%;
}

.footer .follow {
  display: table-cell;
  padding: 5px 5% 5px 0%;
  margin: 15%;
  width: 20%;
}

.footer a {
  color: #00275d;
}

/* Position where text starts on each page after the nav bar */
.content-home {
  margin: 15% 15% 5%;
  padding: 1px 16px;
}

.content {
  margin: 5% 15%;
  padding: 1px 16px;
}

/* Containers for text blocks */
.main {
  padding: 10px 20px 0px 20px;
  background-color: rgba(175, 175, 175, 0.5);
}

.main h3 {
  color: #00275d;
  font-size: 27px;
  border-bottom: 2px solid #00275d;
}

.main h4 {
  color: #00275d;
  padding-left: 10px;
  margin: 10px;
  font-size: 24px;
  border-left: 2px solid #00275d;
}

.main h5 {
  color: #ddd;
  background-color: #00275d;
  margin: 5px 30px;
  padding: 8px;
  font-size: 18px;
}
.main p,
ul {
  text-align: justify;
  padding: 15px;
  margin: 10px 20px;
  color: #00275d;
  border-radius: 10px;
}

.main ul li {
  list-style: disc;
  margin-left: 25px;
  padding: 0.5%;
}

.main a {
  color: #fa0000;
}

.main table {
  border: 2px solid #fa0000;
  margin: 3% 15%;
}

.main th,
td {
  color: #00275d;
  padding: 5px 10px;
}

.main iframe {
  display: block;
  margin: 0 auto;
}

.important {
  font-size: 18px;
  font-weight: 900;
  padding: 0px;
}

figure {
  display: table;
  margin: 3% auto;
}

img,
figcaption {
  display: table-row;
}

figcaption {
  background-color: #00275d;
  color: #ffaf2e;
  padding: 4px;
  display: table-caption;
  caption-side: bottom;
}

.News {
  padding: 90px 20px 30px 20px;
}

/* Navbar container */
/* Margin Order: TOP RIGHT BOTTOM LEFT*/
.navbar {
  overflow: hidden;
  background-color: white;
  margin: 30px 10px 40px 10px;
  border-top: 2px solid #00275d;
  border-bottom: 2px solid #00275d;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 24px;
  color: #00275d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 24px;
  border: none;
  outline: none;
  color: #00275d;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #00275d;
  color: #ffaf2e;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #00275d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* ################### */
/* Form CSS */
/* ################### */
.form{
    text-align: center;
    border-style: solid;
    background-color: rgba(175, 175, 175, 0.5);
}

/* Creates margin for H1 */
.form h1 {
    margin: 30px 0 5px 0;
}

/* Formats the input of the form class */
.form input{
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000000;
}

/* Formats the button of the form class */
.form button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    width: 125px;
    color: white;
    cursor: pointer;
    margin: 30px 0 50px 0;
}

/* Changes colour of button when hovering */
.form button:hover {
  background-color: royalblue;
}

/* Formats the names container */
.names-container{
    text-align: center;
    margin: 30px;
}

/* Aligns items in names class */
.names{
    align-items: center;
}

/* Formats the labels in the names class */
.names label {
    margin: 5px 90px 5px 0;
}

/* Formats the input boxes in the names class */
.names input {
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000000;
}

/* Formats the student id */
.sid {
    margin: 30px;
}

/* Formats the student id input box */
.sid input {
    width: 330px;
}

/* Formats the student email class */
.semail {
    margin: 30px;
}

/* Formats the student email input box */
.semail input{
    width: 330px;
}

/* Class for the start time and end time selector */
.selector {
    margin: 30px;
    align-items: center;
}

/* Formats the labels in the selector class */
.selector label {
    margin: 5px 65px 5px 0px;
}

/* Formats the start time selector */
.time-selector {
    display: inline-block;
    border-radius:36px;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #000000;
}

.times {
    width:140px;
    height:40px;
    border:0px;
    outline:none;
}

/* Formats the end time selector */
.end-selector {
    display: inline-block;
    border-radius:36px;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #000000;
}

.end-time {
    width:140px;
    height:40px;
    border:0px;
    outline:none;
}

.people {
    border-radius:36px;
    width:140px;
    height:40px;
    border:0px;
    border:1px solid #000000;
    outline:none;
}
