html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #363636;
	margin: 0;
	padding: 0;
}



body {
	#background-image: url("images/mainphoto.png");
	background-size: contain;
	background-repeat: repeat;
	background-color: white;
	#font-family: Arial, Verdana, sans-serif;
  	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


.content {
	margin: 5px auto 5px auto;
	text-align: center;
	color: black;
}

h1 {
	margin: 5px auto 5px auto;
	text-align: center;
	color: #264653;
	#border-bottom: 4px solid #E9C46A;
	#border-top: 4px solid #E9C46A;
	#width: 200px;
	padding: 4px;
	font-size: 16px;
	#background: #264653;
}

h2 {
	margin: 5px auto 5px auto;
	text-align: center;
	color: black;
}

h3 {
	text-align: center;
}

/* Navbar container */
/* Margin Order: TOP RIGHT BOTTOM LEFT*/
.navbar {
  	overflow: hidden;
  	background-color: white;
  	margin: 11% 10px 40px 10px;
  	border-top: 2px solid #00275d;
  	border-bottom: 2px solid #00275d;
  	z-index: 0;
}

/* Links inside the navbar */
.navbar a {
  	float: left;
  	font-size: 16px;
  	color: #00275d;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

/* The dropdown container */
.dropdown {
  	float: left;
  	overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  	font-size: 16px;
  	border: none;
  	outline: none;
  	color: #00275d;
  	padding: 14px 16px;
  	background-color: inherit;
  	margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  	background-color: #00275d;
  	color: #ffaf2e;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  	float: none;
  	color: #00275d;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  	display: block;
}
/* Margin Order: TOP RIGHT BOTTOM LEFT*/
.books {
	margin: 5px auto 5px 10px;
	position: center;
	float: left;
	width: 80%;
	column-count: 2;
	column-gap: 40px;
	column-rule-style: solid;
	column-rule-width: 5px;
	border-color: #E9C46A;
	#opacity: .9;
    #border-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-radius: 5px;
	background-color:#f9f9f9;
	#height: 500px;
	#width: 800px;
	padding: 10px;
	color: black;
	}
	
#.books:hover {
	opacity: 1;
}

	

.an-image {
	margin: 5px auto 5px auto;
	opacity: 1;
}

.books h2 {
	margin: 5px auto 5px auto;
	column-span: all;
}


.books content{
	margin: 5px auto 5px auto;
	border-color: black;
    border-style: solid;
    border-radius: 5px;
	background-color:#363636;
	position: center;
	margin: auto;
	width: auto;
	padding: 10px;
    color: black;
}

.books p{
	font-size: 14px;
	text-align: left;
}

.books h1 {
	margin: 5px auto 5px auto;
	text-align: center;
	#color: white;
	#border-bottom: 4px solid #E9C46A;
	#border-top: 4px solid #E9C46A;
	#width: 300px;
	#padding: 4px;
	font-size: 16px;
	#background: #264653;
	color: #264653;
}

.tags {
	margin: 5px auto 5px 210px;
	position: center;
	float: center;
	width: 80%;
	column-count: 2;
	column-gap: 40px;
	column-rule-style: solid;
	column-rule-width: 5px;
	border-color: #E9C46A;
	opacity: .9;
    #border-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-radius: 5px;
	background-color:#f9f9f9;
	#height: 500px;
	#width: 800px;
	padding: 10px;
	color: black;
	}
	
.tags a:hover {
	font-size: 17px;
}

	

.an-image {
	margin: 5px auto 5px auto;
	opacity: 1;
}

.tags h2 {
	margin: 5px auto 5px auto;
	column-span: all;
}


#.tags content{
	margin: 5px auto 5px auto;
	border-color: black;
    border-style: solid;
    border-radius: 5px;
	background-color:#363636;
	position: center;
	margin: auto;
	width: auto;
	padding: 10px;
    color: black;
}

.tags p{
	font-size: 14px;
	text-align: left;
}



.gallery {
	margin: 5px auto 5px auto;
	position: center;
	column-count: 2;
	column-gap: 40px;
	column-rule-style: solid;
	column-rule-width: 10px;
	border-color: black;
	opacity: .9;
    border-style: solid;
    border-radius: 5px;
	background-color:#f6f6f6;
	width: 1000px;
	padding: 10px;
	color: black;
}

.gallery:hover {
	opacity: 1
}



.footer-content {
	height: 70px;
	background: white;
	border-top: solid 2px black;
	margin-top: 30px;
	color: white;
}

.footer-content p {
	text-align: center;
	margin-top: 28px;
}

.footer-text {
	color: black;
}
  
.header-content h1{
	margin-top: 80px;
}



	
/* The sidebar menu */
.sidenav {
  height: 1200px; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: static; /* Fixed Sidebar (stay in place on scroll) */
  float:left;
  z-index: 1; /* Stay on top */
  #top: 0; /* Stay at the top */
  left: 0;
  background-color: #2A9D8F; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  #padding-top: 90px;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 10px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  display: block;
  border-bottom-style: solid;
  border-bottom-color: black;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.sidenav h1 {
	font-size: 12px;
	margin: 5px auto 5px auto;
	text-align: center;
	color: white;
	border-bottom: 4px solid #E9C46A;
	border-top: 4px solid #E9C46A;
	width: 200px;
	padding: 4px;
	background: #264653;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    float: left;
}

#img2 {
  position: absolute;
  border-style: solid;
  border-color: #00275d;
  border-radius: 10px;
  width: 250px;
  top: 1%;
  left: 40%;
  z-index: 20;
}

header {
  outline: none;
  text-align: center;
  width: 100%;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  border-color: black;
}

.popup:hover {
	background-color: grey;
}


/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}