body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  padding: 0px;
  margin: 0px;
}

.container {
  position: relative;
}

#img1 {
  width: 95%;
  padding-left: 2.5%;
  z-index: 10;
}

#img2 {
  position: absolute;
  border-style: 2px solid #00275d;
  border-radius: 10px;
  width: 250px;
  top: 25%;
  left: 40%;
  z-index: 20;
}

header {
  outline: none;
  text-align: center;
  width: 100%;
}

/* footer */
.footer {
  background: rgba(175, 175, 175, 0.5);
  color: #00275d;
  display: table-row;
  padding: 10px 20px 0px 20px;
}

.footer .quick-links {
  display: table-cell;
  padding: 5px 5% 5px 5%;
  margin: 10%;
  width: 50%;
}

.footer .follow {
  display: table-cell;
  padding: 5px 5% 5px 0%;
  margin: 15%;
  width: 20%;
}

.footer a {
  color: #00275d;
}

/* Position where text starts on each page after the nav bar */
.content-home {
  margin: 15% 15% 5%;
  padding: 1px 16px;
}

.content {
  margin: 5% 15%;
  padding: 1px 16px;
}

/* Containers for text blocks */
.main {
  padding: 10px 20px 0px 20px;
  background-color: rgba(175, 175, 175, 0.5);
}

.main h3 {
  color: #00275d;
  font-size: 27px;
  border-bottom: 2px solid #00275d;
}

.main h4 {
  color: #00275d;
  padding-left: 10px;
  margin: 10px;
  font-size: 24px;
  border-left: 2px solid #00275d;
}

.main h5 {
  color: #ddd;
  background-color: #00275d;
  margin: 5px 30px;
  padding: 8px;
  font-size: 18px;
}
.main p,
ul {
  text-align: justify;
  padding: 15px;
  margin: 10px 20px;
  color: #00275d;
  border-radius: 10px;
}

.main ul li {
  list-style: disc;
  margin-left: 25px;
  padding: 0.5%;
}

.main a {
  color: #fa0000;
}

.main table {
  border: 2px solid #fa0000;
  margin: 3% 15%;
}

.main th,
td {
  color: #00275d;
  padding: 5px 10px;
}

.main iframe {
  display: block;
  margin: 0 auto;
}

.important {
  font-size: 18px;
  font-weight: 900;
  padding: 0px;
}

figure {
  display: table;
  margin: 3% auto;
}

img,
figcaption {
  display: table-row;
}

figcaption {
  background-color: #00275d;
  color: #ffaf2e;
  padding: 4px;
  display: table-caption;
  caption-side: bottom;
}

.News {
  padding: 90px 20px 30px 20px;
}

/* Navbar container */
/* Margin Order: TOP RIGHT BOTTOM LEFT*/
.navbar {
  overflow: hidden;
  background-color: white;
  margin: 30px 10px 40px 10px;
  border-top: 2px solid #00275d;
  border-bottom: 2px solid #00275d;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 24px;
  color: #00275d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 24px;
  border: none;
  outline: none;
  color: #00275d;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #00275d;
  color: #ffaf2e;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #00275d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* REMOVED.
.search {
    background-color: #ffaf2e;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
}
*/

/* ---- STYLING FOR SEARCH BAR ---- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: white;
}

.wrapper {
  position: absolute;
  top: 80%;
  left: 58%;
  padding: 2px;
  transform: translate(-60%, -10%);
  background: gray;
}

.wrapper .search-box {
  width: 1100px;
  background-color: #fff;
  height: 70px;
  border-radius: 2px;
  display: flex;
  padding: 10px;
  /*box-shadow: 0 8px 6px -5px #b3c6ff;*/
}

.wrapper .search-box .dropdown-section {
  width: 150px;
  border-right: 2px solid #dde2f1;
  color: #9fa4b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search-box .dropdown-section:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 10px;
  border: 8px solid;
  border-color: #2980b9 transparent transparent transparent;
}

.wrapper .search-box .dropdown-section .default-option-section {
  text-transform: uppercase;
  padding: 14px 11px;
  font-size: 16px;
  user-select: none;
}

.wrapper .search-box .dropdown-section ul {
  position: absolute;
  top: 70px;
  left: -10px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
}

.wrapper .search-box .dropdown-section ul.active {
  display: block;
}

.wrapper .search-box .dropdown-section ul li {
  padding-bottom: 20px;
  user-select: none;
}

.wrapper .search-box .dropdown-section ul li:last-child {
  padding-bottom: 0;
}

.wrapper .search-box .dropdown-section ul li:hover {
  color: #4f515a;
}

/* DROPDOWN FACULTY */

.wrapper .search-box .dropdown-faculty {
  width: 340px;
  border-right: 2px solid #dde2f1;
  color: #9fa4b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search-box .dropdown-faculty:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 10px;
  border: 8px solid;
  border-color: #2980b9 transparent transparent transparent;
}

.wrapper .search-box .dropdown-faculty .default-option-faculty {
  text-transform: uppercase;
  padding: 14px 18px;
  font-size: 16px;
  user-select: none;
}

.wrapper .search-box .dropdown-faculty ul {
  position: absolute;
  top: 70px;
  left: 0px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
}

.wrapper .search-box .dropdown-faculty ul.active {
  display: block;
}

.wrapper .search-box .dropdown-faculty ul li {
  padding-bottom: 20px;
  user-select: none;
}

.wrapper .search-box .dropdown-faculty ul li:last-child {
  padding-bottom: 0;
}

.wrapper .search-box .dropdown-faculty ul li:hover {
  color: #4f515a;
}

/* SEARCH BAR */

.wrapper .search-box .search-field {
  width: 700px;
  height: 100%;
  position: relative;
}

.wrapper .search-box .search-field .input {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #4f515a;
}

.wrapper .search-box .search-field .fas {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  color: #2980b9;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #4f515a;
}

::-moz-input-placeholder {
  color: #4f515a;
}

::-ms-input-placeholder {
  color: #4f515a;
}
